{{#if Restaurant_id}}
  <div>
    <h2> Restaurant Saved </h2>
    <ul>
      <li> Restaurant Name: {{name}} </li>
      <li> Cuisine: {{cuisine}} </li>
      <li> Borough: {{borough}} </li>
      <li> id: {{Restaurant_id}} </li>

    </ul>
  </div>
{{else}}
  <form method="POST" action="/api/allrestaurants/insert">
    <label for="Restaurant name: "</label>
    <input type="text" name="name" placeholder="Enter Name" />
    <label for="Cuisine: "</label>
    <input type="text" name="cuisine" placeholder="Enter Cuisine" />
    <label for="Borough: "</label>
    <input type="text" name="borough" placeholder="Enter Borough" />
    <label for="Restaurant_id: "</label>
    <input type="text" name="id" placeholder="Enter ID" />
    <input type="submit" />
  </form>
{{/if}}
